body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.hex-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg);
  background-size: cover;
}

.hex-row {
  display: flex;
}

.hex {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 2px;
  clip-path: polygon(
    50% 0%, 
    100% 25%, 
    100% 75%, 
    50% 100%, 
    0% 75%, 
    0% 25%
  );
  border: '2px solid red';
  background-color:rgba(38, 152, 152, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* background-clip: content-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: transparent; */
}

.hex-row:nth-child(even) {
  margin-left: 52px; /* Half the width of a hexagon */
}

.hex-row:not(:first-child) {
  margin-top: -25px;
}

img {
  animation: blink 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}